In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import json

In [50]:
service_key = 'DfPLESYtk8sfO7pAt50dWQgey2DpCUEHgYlsKiZv1S2jfLdY5R3YBY4sIMCv4cGFSBzHpG%2F2tl63pGCvP6OR7Q%3D%3D'

In [84]:
url = 'http://apis.data.go.kr/B552061/trafficAccidentDeath/getRestTrafficAccidentDeath?servicekey={}&searchYear=2017&siDo=1100&guGun='.format(service_key)
url

'http://apis.data.go.kr/B552061/trafficAccidentDeath/getRestTrafficAccidentDeath?servicekey=DfPLESYtk8sfO7pAt50dWQgey2DpCUEHgYlsKiZv1S2jfLdY5R3YBY4sIMCv4cGFSBzHpG%2F2tl63pGCvP6OR7Q%3D%3D&searchYear=2017&siDo=1100&guGun='

In [85]:
req=requests.get(url)
req

In [ ]:
req.

In [97]:
html=req.text

In [98]:
jdic = json.loads(html)

In [116]:
import re

In [143]:
cols = d.keys()

In [129]:
cols

dict_keys(['year', 'dt_006', 'dt_006_lv8', 'cd_008', 'cd_007', 'no_010', 'injpsn_co', 'no_011', 'no_012', 'no_013', 'cd_003', 'cd_003_lv1', 'cd_014_lv1', 'cd_014_lv2', 'cd_014', 'cd_027_1_lv1', 'cd_027_1_lv2', 'cd_043_lv1', 'cd_043', 'cd_036_1_lv1', 'cd_036_1', 'cd_036_1_lv2', 'cd_036_2', 'x_coord', 'y_coord', 'grd_lo', 'grd_la'])

In [135]:
rows = []
for i, d in enumerate(jdic['searchResult']['accidentDeath']):
    if len(re.findall('201707.+', d['dt_006'])) > 0:
        row = []
        for c in cols:
            row.append(d[c])
        rows.append(row)

In [155]:
cols = ['year', '발생월일', '발생시간', '주야코드', '사고요일', '사망지수', '부상자수', '중상자수', '경상자수', '부상신고자수', '발생지시군구', '발생지시도','사고유형대분류', '사고유형중분류',
        '사고유형', '법규위반1당대분류', '법규위반1당중분류', '도로형태대분류', '도로형태', '당사자종별1당대분류', '당사자분류', '당중분류', '당당중분류', 'X좌표', 'Y좌표', '경도' ,'위도']

In [ ]:
cols = ['year', '발생월일', '발생시간', '주야코드', '사고요일', '사망지수', '부상자수', '중상자수', '경상자수', '부상신고자수', '발생지시군구', '발생지시도','사고유형대분류', '사고유형중분류',
        '법규위반1당대분류', '법규위반1당중분류', '도로형태대분류', '도로형태', '당사자종별1당대분류', '당사자분류', '당중분류', '당당중분류', 'X좌표', 'Y좌표', '경도' ,'위도']

In [156]:
test_df = pd.DataFrame(data=rows, columns=cols)

In [161]:
fri_idx = test_df['사고요일'] == '6'

In [162]:
night_idx = test_df['주야코드'] == '2'

In [164]:
test_df[fri_idx & night_idx]

,year,발생월일,발생시간,주야코드,사고요일,사망지수,부상자수,중상자수,경상자수,부상신고자수,...,도로형태대분류,도로형태,당사자종별1당대분류,당사자분류,당중분류,당당중분류,X좌표,Y좌표,경도,위도
0,2017,2017072804,28,2,6,1,1,0,0,0,...,01,05,01,01,08,08,961568,1952419,127.06479256,37.57033935
2,2017,2017071422,25,2,6,1,1,0,0,0,...,01,05,01,01,12,12,966461,1949442,127.12033631,37.54369777
9,2017,2017071422,45,2,6,1,1,0,0,0,...,01,02,05,05,01,01,950984,1947652,126.9452615,37.52687091